In [1]:
import pandas as pd
df_train = pd.read_csv('train.csv')
df_train

                     T         X         Y         Z  Device
0         1.336645e+12  0.340509  8.308413  4.140585       7
1         1.336645e+12  0.381370  8.390134  4.249548       7
2         1.336645e+12  0.272407  8.471856  4.018002       7
3         1.336645e+12  0.149824  8.430995  4.290409       7
4         1.336645e+12  0.272407  8.430995  4.481094       7
...                ...       ...       ...       ...     ...
29563978  1.336892e+12 -0.306000 -0.306000 -9.500000    1037
29563979  1.336892e+12 -0.459000 -0.306000 -9.653000    1037
29563980  1.336892e+12 -0.153000 -0.306000 -9.807000    1037
29563981  1.336892e+12 -0.306000 -0.459000 -9.347000    1037
29563982  1.336892e+12 -0.459000 -0.766000 -9.807000    1037

[29563983 rows x 5 columns]

In [2]:
pd.unique(df_train['Device']).shape

(387,)

In [ ]:
import numpy as np
label_val = pd.unique(df_train['Device'])
label_map = {}
for i, val in enumerate(label_val):
    label_map[val] = i
label_map

In [ ]:
df_train['label'] = df_train['Device'].map(label_map)
df_train['space'] = np.sqrt(df_train['X']*df_train['X']+df_train['Y']*df_train['Y']+df_train['Z']*df_train['Z'])

df_train

In [ ]:
df_train_group = df_train.groupby('label')
fea_col = ['X', 'Y', 'Z', 'space']
X_train, Y_train = [], []
for key, df_group in df_train_group:
    group_val = df_group[fea_col].values
    for i in range(0, len(df_group)-300, 150):
        tmp = group_val[i:i+300,]
        if tmp.shape[0] != 300: print(tmp.shape)
        X_train.append(tmp)
        Y_train.append(key)
# X_train, Y_train = np.array(X_train), np.array(Y_train)
# X_train.shape, Y_train.shape

In [ ]:
X_train = np.array(X_train)
X_train.shape

In [ ]:
from torch.utils.data import DataLoader,TensorDataset
import torch
X_train = torch.tensor(X_train, dtype=torch.float)
Y_train = torch.tensor(Y_train, dtype=torch.float)
trainloader = DataLoader(TensorDataset(X_train, Y_train), 128, True)

In [4]:
import pandas as pd
df_test = pd.read_csv('test.csv')
df_test

                     T          X         Y         Z  SequenceId
0         1.364277e+12   8.662541  4.018002 -1.334794      100006
1         1.364277e+12  12.326415  5.202973 -1.688923      100006
2         1.364277e+12   8.090487  1.253072  0.544814      100006
3         1.364277e+12  10.923519 -0.858082 -1.021526      100006
4         1.364277e+12   7.763598 -0.108963 -1.171350      100006
...                ...        ...       ...       ...         ...
27007195  1.363885e+12   2.533385  5.557102  8.499097      999998
27007196  1.363885e+12   1.416516  5.216593  7.668256      999998
27007197  1.363885e+12   2.955615  5.597963  7.395849      999998
27007198  1.363885e+12   1.566340  5.434519  6.510526      999998
27007199  1.363885e+12   1.648062  6.319841  6.592248      999998

[27007200 rows x 5 columns]

In [5]:
pd.unique(df_test['SequenceId']).shape

(90024,)

In [6]:
import pandas as pd
df_question = pd.read_csv('questions.csv')
df_question

       QuestionId  SequenceId  QuizDevice
0               1      100006         593
1               2      100011         751
2               3      100012        1027
3               4      100033         761
4               5      100044          45
...           ...         ...         ...
90019       90020      999968         378
90020       90021      999970         997
90021       90022      999974         269
90022       90023      999975         399
90023       90024      999998         116

[90024 rows x 3 columns]

In [7]:
pd.unique(df_question['QuizDevice']).shape

(387,)

In [8]:
sequenceId_device_map = dict(zip(df_question['SequenceId'],df_question['QuizDevice']))
df_test['Device'] = df_test['SequenceId'].map(sequenceId_device_map)

In [9]:
import numpy as np
df_test['label'] = df_test['Device'].map(label_map)
df_test['space'] = np.sqrt(df_test['X']*df_test['X']+df_test['Y']*df_test['Y']+df_test['Z']*df_test['Z'])

df_test

,T,X,Y,Z,SequenceId,Device,label,space
0,1.364277e+12,8.662541,4.018002,-1.334794,100006,593,212,9.641869
1,1.364277e+12,12.326415,5.202973,-1.688923,100006,593,212,13.485692
2,1.364277e+12,8.090487,1.253072,0.544814,100006,593,212,8.205059
3,1.364277e+12,10.923519,-0.858082,-1.021526,100006,593,212,11.004685
4,1.364277e+12,7.763598,-0.108963,-1.171350,100006,593,212,7.852222
...,...,...,...,...,...,...,...,...
27007195,1.363885e+12,2.533385,5.557102,8.499097,999998,116,42,10.465852
27007196,1.363885e+12,1.416516,5.216593,7.668256,999998,116,42,9.381978
27007197,1.363885e+12,2.955615,5.597963,7.395849,999998,116,42,9.735062
27007198,1.363885e+12,1.566340,5.434519,6.510526,999998,116,42,8.624057
27007199,1.363885e+12,1.648062,6.319841,6.592248,999998,116,42,9.279776

In [14]:
# df_test_group = df_test.groupby('label')
fea_col = ['X', 'Y', 'Z', 'space']
X_test, Y_test = [], []
for i in range(0, len(df_test), 300):
# for key, df_group in df_test_group:
    group_val = df_test[i:i+300][fea_col].values
    X_test.append(group_val)
    Y_test.append(df_test.iloc[i]['label'])

In [15]:
X_test = np.array(X_test)
X_test.shape

(90024, 300, 4)

In [16]:
from torch.utils.data import DataLoader,TensorDataset
import torch
X_test = torch.tensor(X_test, dtype=torch.float)
Y_test = torch.tensor(Y_test, dtype=torch.float)
testloader = DataLoader(TensorDataset(X_test, Y_test), 1, False)

In [17]:
import torch
from torch import nn
# LSTM模型搭建
class LSTM(nn.Module):
    def __init__(self, input_size, hidden_size, output_size=387, num_layers=2):
        super().__init__()
        self.lstm = nn.LSTM(input_size, hidden_size, num_layers,batch_first=True)
        self.fc = nn.Linear(hidden_size, output_size)
    def forward(self, _x):
        x, _ = self.lstm(_x)
        x1 = self.fc(x[:,-1])
        return x1

In [33]:
from torch import optim, nn
from tqdm import tqdm
# 模型构建
modelDNN = LSTM(4, 32, output_size=387, num_layers=2)
optimizer = optim.Adam(modelDNN.parameters())
criterion = nn.CrossEntropyLoss()
best_losss = 10
# 训练轮数
for i in range(30):
    pbar = tqdm(trainloader)
    for X, y in pbar:
        # 优化
        y_pred = modelDNN(X)
#         print(y_pred.size(), y.size())
        
        loss = criterion(y_pred, y.long())
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()
        pbar.set_description(f'loss: {loss.item()}')
    if loss.item() < best_losss:
        torch.save(modelDNN.state_dict(), 'model.th')
        best_losss = loss.item()

In [ ]:
from torch import optim, nn
from tqdm import tqdm
# 模型构建
modelDNN = LSTM(4, 32, output_size=387, num_layers=2)
optimizer = optim.Adam(modelDNN.parameters())
criterion = nn.CrossEntropyLoss()

submit = []
modelDNN.load_state_dict(torch.load('model.th'))
modelDNN = modelDNN.cuda()
pbar = tqdm(testloader)
with torch.no_grad():
    for qid, (X, y) in enumerate(pbar):
        X = X.cuda()
        y_pred = torch.softmax(modelDNN(X), dim=-1)
        # print(y)
        # print(y_pred[:,y.long()[0]].data.numpy()[0])
        submit.append([qid+1, y_pred[:,y.long()[0]].cpu().data.numpy()[0]])

In [36]:
submit_df = pd.DataFrame(submit, columns=['QuestionId', 'IsTrue'])
submit_df

       QuestionId    IsTrue
0               1  1.256593
1               2  3.016274
2               3  2.091249
3               4  1.928453
4               5  4.206425
...           ...       ...
90019       90020 -2.723261
90020       90021  2.598334
90021       90022  6.207332
90022       90023  3.977756
90023       90024  1.106111

[90024 rows x 2 columns]

In [37]:
submit_df.to_csv('submit.csv')